:root{
    --bg-white: #f4f6fa;
    --bg-green: #17af5c;
    --msj: #0c0e8f;
    --msj2: #ffffff;
    --messaje: rgb(248, 12, 12);
    --bg: #a5acb6;
}

.box-per{
    height: 500px;
    overflow: scroll;
}

.icon-delete{
    color: var(--msj);
    font-weight: bolder;
    font-size: 1.4rem;
}
.icon-delete:hover{
    
    color: rgb(221, 43, 43);
    
}

.list-edit-charter{
    width: 100%;
    background-color: yellowgreen;
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--msj);
    text-align: center;
}
p{
    padding: 5px 20px 5px 20px;
}
h5{
    color: var(--msj);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.text-form-message{
    color: var(--messaje);
    
}
.text-form-data{
    color: var(--bg-green);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 12px;
}

.d-flex-per{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}
.d-flex-per button{
    width: 170px;
    text-align: left;
}


.form-per{
    padding: 5px 75px 5px 75px;
}

body{
    background-color: var(--bg-white);
}

.select-form-p p{
    color: var(--l-p);
}


/* mensajes */

.msj-1{
    display: flex;
    margin: 5% 10% 5% 10%;
    padding: 5px;
    height: auto;
    justify-content: center;
    color: blue;
    border-radius: 15px;
    border: solid 1px blue;
    
}
